.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rout
*.Rlog
*.mk
*.Rproj
*.html
makestuff
.DS_Store
_targets
*.log
*.exe
data/models/*adjusted
data/models/*filtered
data/models/*naive
*.zip
test_*.rda
test_*.png
data/models/*doublecensor
data/models/*full
data/models/*integrate
data/models/*reparam
docs
/doc/
/Meta/
